@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color:#fff;
    font-family: 'Poppins', sans-serif;
} 
.contenedor {
    max-width: 960px;
    margin: 0 auto;
}
.clr {
    clear: both;
}
.box {
    background:lightyellow;
}
.box p {
    text-align: center;
    text-align: left;  
}
#box2 {
    float: left;
    width: 40%;

}
#box3 {
    float: left;
    width: 65%;
   
}
#box4 {
    float: left;
    width: 38%;
   
}
#box5 {
    float: right;
    width: 38%;    
}
#box6 {
    float: none;
    width: 38%;    
}
h1 {
    background-color: tomato;
    color: #000;
    font-size: 50px;
    text-align: center;
    border-radius: 10px;
}
p {
    font-size: 20px;
}
li {
    font-size: 18px; 
}
.artesania {
    background-color:rgb(224, 187, 64);
    color: #000;
    font-size: 30px;
    text-align: left;
    border-radius: 10px;
}
.manualidades {
    background-color: violet;
    color: #000;
    font-size: 30px;
    text-align: left;
    border-radius: 100px;
}
.diferencias {
    background-color: rgb(221, 255, 71);
    color: #000;
    font-size: 30px;
    text-align: left;
    border-radius: 10px;
}
.produccion {
    background-color: rgb(255, 252, 71);
    color: #000;
    font-size: 30px;
    text-align: left;
    border-radius: 10px;
}
.artesanos {
    background-color: rgb(221, 255, 71);
    color: #000;
    font-size: 30px;
    text-align: left;
    border-radius: 10px;
}
.tienda {
    background-color: rgb(221, 255, 71);
    color: #000;
    font-size: 30px;
    text-align: left;
    border-radius: 10px;
}
.consultas {
    background-color: rgb(221, 255, 71);
    color: #000;
    font-size: 30px;
    text-align: left;
    border-radius: 10px;
}
